GSCXScanner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GSCXScanner.xcodeproj/project.xcworkspace/xcuserdata/felixweiss.xcuserdatad/UserInterfaceState.xcuserstate
GSCXScanner.xcodeproj/xcuserdata/felixweiss.xcuserdatad/xcschemes/xcschememanagement.plist
